<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css">
    <title>Admin | Crear Nuevo Item</title>
</head>

<body>
    <%- include('../partials/headerAdmin') %>
    <body>
        <section class="item container">
            <h1 class="item__titulo">CREAR NUEVO ITEM</h1>
            <form action="/admin/create/" method="post">
                <div class="item__linea">
                    <label for="categoria" class="item__label">Categoria:</label>
                    <select name="category_id" id="categoria">
                        <option value="Seleccionar">Seleccionar</option>
                        <option value="Figuras Coleccionables">Figuras coleccionables</option>
                    </select>
                    <label for="licencia" class="item__label">Licencia:</label>
                    <select name="licence_id" id="licencia">
                        <option value="seleccionar">Seleccionar</option>
                        <option value="STAR WARS">Star Wars</option>
                        <option value="POKEMON">Pokemon</option>
                        <option value="HARRY POTTER">Harry Potter</option>
                    </select>
                </div>
                <div class="item__linea">
                    <label for="producto" class="formulario__label">Nombre del Producto:</label>
                    <input class="item__input" name="product_name" id="producto" type="text" placeholder="Kakashi Hatake Shippuden Saga" required> 
                </div>
                <div class="item__linea">
                    <textarea class="item__description" name="product_description" id="descripcion" placeholder="Descripción del Producto"></textarea>
                </div>
                <div class="item__linea">
                    <label for="sku" class="item__label">SKU:</label>
                    <input class="item__input" name="sku" id="sku" type="text" placeholder="SSK111AB001" required>
                    <label for="precio" class="item__label">Precio:</label>
                    <input  class="item__input" name="price" id="precio" type="text" placeholder="$ 0.000,00" required>
                    <label for="stock" class="item__label">Stock:</label>
                    <input class="item__input" name="stock" id="stock" type="text" placeholder="0" required>
                </div>
                <div class="item__linea">
                    <label for="descuento" class="item__label">Descuento:</label>
                    <input class="item__input" name="discount" id="discount" type="text" placeholder="0%">
                    <label for="cuotas" class="item__label">Cuotas:</label>
                    <select name="product_cuotas" id="cuotas">
                        <option value="3 Cuotas sin interés">3 Cuotas sin interés</option>
                        <option value="6 Cuotas sin interés">6 Cuotas sin interés</option>
                        <option value="12 Cuotas sin interés">12 Cuotas sin interés</option>
                    </select>
                </div>
                <div class="item__linea">
                    <label for="imagenes" class="item__label">Imagenes:</label>
                    <button class="" type="submit">Elegir archivos</button>
                    <p class="item__leyenda">No se ha seleccionado ningún archivo</p>
                </div>
                <div class="item__botones">
                    <button class="item__boton" type="submit">Agregar Producto</button>
                    <button class="item__boton" type="reset" onclick="limpiarForm()">Limpiar</button>
                </div>
            </form>
        </section>
    </body>
    <%- include('../partials/footerAdmin') %>
</body>
<script>
    function limpiarForm() {
        document.querySelector("form").reset();
    }
</script>
</html>