<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../Css/style.css">
    <title>Contacto | Funkoshop</title>
</head>

<body>
    <%- include('../partials/headerAdmin') %>
    <main>
        <div class="container">
            <p class="contacto__titulo">ABOUT US</p>
        </div>
        <div class="contacto__container">
            <p class="aboutus">
                The company that put the Pop! in the pop culture has journeyed to the heart of the entertainment industry. Funko’s second brick-and-mortar location, Funko Hollywood is 40,000 square feet of whimsy, adventure, fun, larger-than-life photo opportunities and immersive sets inspired by your favorite worlds, characters and moments. Treat yourself to a retail experience unlike anything you’ve experienced before.
            </p>
        </div>

    </main>
    <%- include('../partials/footerAdmin') %>
</body>
<script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
<script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
</html>