<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../Css/style.css">
    <title>Contacto | Funkoshop</title>
</head>

<body>
    <%- include('../partials/headerAdmin') %>
    <main>
        <div class="container">
            <p class="contacto__titulo">PREGUNTAS FRECUENTES</p>
        </div>
        <div class="contacto__container">
            <div class="faqs__item">
                <p class="faqs__question">1. Preguntas frecuentes sobre tus productos</p>
                <p class="faqs__answer">
                    ¿Cómo se han fabricado tus productos? ¿Las tintas son ecológicas? ¿Utilizas materiales de calidad? ¿De dónde vienen los productos? ¿Qué medidas tienen?
                </p>
            </div>
            <div class="faqs__item">
                <p class="faqs__question">2. Preguntas frecuentes sobre el pago, envío y devoluciones</p>
                <p class="faqs__answer">
                    Este apartado será probablemente el que más visiten tus clientes, ya que el envío y la posibilidad de tener que realizar una devolución siempre van a generar alguna duda sobre este tema en particular.
                    ¿Cuáles son los tiempos de envío? ¿Qué hago si quiero devolver un producto? ¿Puedo pagar con PayPal? ¿Quién se encarga de mi pedido una vez es enviado por correo? ¿Y si cambio de dirección?            
                </p>
            </div>
            <div class="faqs__item">
                <p class="faqs__question">3. Preguntas frecuentes sobre tu servicio de atención al cliente</p>
                <p class="faqs__answer">
                    Probablemente ya hayas dejado un formulario de contacto en tu página de Sobre mí o simplemente tengas una página de contacto con tu correo electrónico. 
                    Sin embargo, no está de más recordar a tus usuarios cómo contactarte en este apartado, ya que, si no encuentran la respuesta a su pregunta específica, aquí sabrán los pasos a seguir para comunicarse contigo rápidamente. ¿Cómo puedo ponerme en contacto con vosotros? ¿Tenéis atención al cliente? Son formas en las que tus clientes podrían buscar esta sección.
                </p>
            </div>
        </div>

    </main>
    <%- include('../partials/footerAdmin') %>
</body>
<script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
<script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
</html>